img {
  width: 100vw;
  height: auto;
  max-width: 650px;
  margin-top: 15px;
}

body  {
  background-color: lightgrey;
}

nav {
  height: 80px;
  background-color: dodgerblue;
  padding: 10px;
}

.button {
  z-index: 0;
}

.planner {
  margin-left: 30px;
}

.map {
  padding: 0;
}

.logo {
  margin-left: 10px;
  width: 130px;
  height: auto;
}

.logo1 {
  margin-right: 10px;
  width: 130px;
  height: auto;
}


.infoContainer {
  margin: 0;
  padding: 0;
}

.alertsContainer {
  margin: 0;
  padding: 10px;
  text-align: center;
  background-color: black;
  width: 100vw;
  height: 80px;
  text-align: center;
  color: lightgreen;
  letter-spacing: 1.5px;
}

.statusBar {
  overflow: hidden;
  width: 100vw;
}

.scroll-left h4 {
  position: inherit;
  width: 100vw;
  height: 100%;
  margin: 0;
  left: 0;
  line-height: 50px;
  text-align: center;
  transform:translateX(100%);
  animation: scroll-left 10s linear infinite;
}

.scroll-left img {
  position: inherit;
  width: 100px;
  margin-right: 200px;
  margin-left: 200px;
  height: auto;
  text-align: center;
}

@keyframes scroll-left {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
