img {
  width: 1000px;
  height: 650px;
}
nav {
  height: 80px;
}
.map {
  text-align: center;
}
.statusBar {
  margin-top: 0;
  text-align: center;
  background-color: black;
  width: 100vw;
  height: 80px;
}
.alert {
  color: red;
  font-weight: 600;
}
